.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url("img/header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* section contact*/

.address-container {
    flex: 1;
    margin-left: 24px;
    margin-right: 24px;
}

h3 {
    font-family: 'Courgette', sans-serif;
    font-size: 24px;
    display: block;
}

address {
    margin-top: 16px;
    margin-left: 32px;
    margin-bottom: 16px;
}

address p {
    color: grey;
    line-height: 40px;
}


/* Research bar*/

.container {
    display: flex;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 50px 0px;
}

.formulaire {
    flex-direction: column;
}

.bouton {
    width: 150px;
    height: 30px;
    text-align: center;
}

.nav-bar i {
    width: 40px;
}

.nav-bar {
    font-style: italic;
    font-weight: 400;
}

.nav-bar h3 {
    font-style: italic;
    font-size: 18px;
    font-family: 'Courgette', sans-serif;
    font-size: 17px;
    margin-top: 16px;
}

#myEmail {
    width: 150px;
    height: 30px;
}

#mySearch {
    width: 150px;
    height: 30px;
}

footer i {
    background-color: #f9f9f9;
    color: black;
    padding: 9px;
}


/* footer*/

.footer-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15%;
}

footer {
    background-color: black;
    color: #ffff;
}

footer p {
    font-style: italic;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 20px;
}

footer h3 {
    font-style: italic;
    font-weight: 400;
    margin-bottom: 5px;
}

footer li {
    padding: 5px;
    text-decoration: underline;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 25px;
    top: 0;
    height: 60%;
    width: 65%;
    position: absolute;
}

.button {
    width: 100px;
    height: 40px;
    text-align: center;
    margin-bottom: 25px;
    background-color: black;
    color: #ffff;
    border: 1px solid rgba(191, 191, 191, 0.963);
}

footer i {
    background-color: #f9f9f9;
    color: black;
    padding: 9px;
}

@media (max-width: 768px) {
    .nav-bar {
        display: none;
    }
    .footer-main {
        flex-direction: column;
        align-items: flex-start;
    }
    .team-section {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
}

@media (max-width: 992px) {
    .nav-bar {
        display: none;
    }
}