    @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Oswald:wght@400;700&display=swap');
font-family: 'Courgette',
cursive;
font-family: 'Oswald',
sans-serif;
body {
    display: flex;
    font-family: 'Oswald', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    color: white;
    background-image: radial-gradient( rgb(49, 49, 49), rgba(2, 2, 3, 0.5)), url("img/recipes/paella/paella-header.jpg");
}

.title {
    border: 1px solid rgb(69, 69, 69);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.title img {
    backgroun
}

h1 {
    font-family: 'Courgette', cursive;
    font-size: 30px;
}

.presentation p {
    font-family: 'Courgette', cursive;
    font-size: 20px;
}

.presentation {
    text-align: center;
    margin: 150px 40px;
}

h2 {
    font-family: 'Courgette', cursive;
    font-size: 50px;
}


/* Main */

nav {
    display: none;
}

aside {
    display: none;
}

.buttons {
    background-color: #4d4d4d;
    border-radius: 20px;
    border: none;
    color: #ffffff;
    text-align: center;
    height: 40px;
}

main {
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 40px 10px;
}

.articles {
    text-align: justify;
    padding: 30px 5px;
    line-height: 180%;
}

h3 {
    font-family: 'Courgette', cursive;
    font-size: 30px;
    font-weight: bolder;
    padding: 10px 0px;
}

h4 {
    font-family: 'Courgette', cursive;
    font-size: 20px;
}

.pics {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 10%;
}

.titrearticle {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 20px;
}

.titrearticle p {
    background-color: rgb(202, 201, 199);
}

.step {
    padding-top: 25px;
}

footer {
    font-family: 'Oswald', sans-serif;
    display: flex;
    background-color: black;
    color: white;
    flex-direction: column;
    padding: 90px 15px 180px 25px;
    gap: 20px;
    font-size: 20px;
    line-height: 150%;
}

.linkfooter {
    color: white;
}

.social {
    filter: invert(100%);
}

h5 {
    font-family: 'Courgette', cursive;
    font-weight: bold;
}

h6 {
    font-family: 'Courgette', cursive;
}

@media (min-width: 778px) {
    header nav {
        display: none;
    }
    .dessert {
        flex-direction: row;
    }
    h3 {
        font-size: 30px;
    }
    footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 60px 80px 180px 80px;
    }
    @media (min-width: 992px) {
        .title img {
            display: none;
        }
        main {
            flex-direction: row;
        }
        .articles {
            display: flex;
            flex-wrap: wrap;
            width: calc(100%-200px);
            padding-left: 150px;
        }
        aside {
            display: block;
            width: 200px;
            padding: 30px 20px;
        }
        .titrearticle {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 30px 20px;
        }
        .ingredients {
            width: 200px;
            display: flex;
            flex-wrap: wrap;
            padding: 30px;
        }
        .step {
            flex: 1;
            padding: 30px 20px;
        }
        .pics {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        header nav {
            display: block;
            padding-top: 8px;
        }
        .title a {
            color: white;
            text-decoration: none;
        }
        .post {}
        .abo {
            display: block;
        }
    }