    .header-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 80px;
        border-bottom: solid 2px #f9f9f9;
        position: relative;
    }
    
    header nav {
        display: flex;
        gap: 20px;
    }
    
    header a {
        text-decoration: none;
        color: black;
        opacity: 0.5;
    }
    
    header h1 {
        font-style: italic;
        color: #ffff;
        font-size: 30px;
    }
    
    header img {
        width: 50px;
    }
    
    .burger {
        display: none;
    }
    /*covers*/
    
    .covers {
        background-size: 100%;
        background-image: url("./img/team/team.jpg");
        background-repeat: no-repeat;
        position: absolute;
        top: 0%;
        bottom: 40%;
    }
    
    .img-team {
        border-radius: 50%;
        width: 10%;
    }
    
    .team-section {}
    /*  @media (max-width: 768px) {
       
        header {
            position: relative;
        }
        header nav {
            display: none;
        }
        .burger {
            display: block;
            width: 30px;
            position: absolute;
            top: calc(50% - 20px);
            right: 10px;
        }
        .covers {
            display: block;
            padding-bottom: 200px;
            background-size: 500px;
        }
    }*/