.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url("img/team/team.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* Team Section*/

.team-member-container {
    margin-left: 24px;
    margin-right: 24px;
}

.floated {
    border-radius: 50%;
    width: 400px;
    float: left;
    margin: 20px;
}

.team-section p {
    font-weight: 200;
    line-height: 24px;
    margin-bottom: 16px;
    font-size: 18px;
    /*
    padding-right: 300px;
    line-height: 1.7em;
    width: 66%;
    height: 25%;*/
}


/* Research bar*/

.formulaire {
    flex-direction: column;
}

.bouton {
    width: 200px;
    height: 35px;
    text-align: center;
}

.nav-bar i {
    padding-top: 10px;
    width: 40px;
}

.nav-bar {
    font-style: italic;
    font-weight: 400;
}

.nav-bar h3 {
    font-style: italic;
    font-family: 'Courgette', sans-serif;
    font-size: 17px;
    margin-top: 16px;
}

#myEmail {
    width: 187px;
    height: 35px;
}

#mySearch {
    width: 200px;
    height: 35px;
}


/* footer*/

.footer-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15%;
}

footer {
    background-color: black;
    color: #ffff;
}

footer p {
    font-style: italic;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 20px;
}

footer h3 {
    font-style: italic;
    font-weight: 400;
    margin-bottom: 5px;
}

footer li {
    padding: 5px;
    text-decoration: underline;
}

.button {
    width: 100px;
    height: 40px;
    text-align: center;
    margin-bottom: 25px;
    background-color: black;
    color: #ffff;
    border: 1px solid rgba(191, 191, 191, 0.963);
}

footer i {
    background-color: #f9f9f9;
    color: black;
    padding: 9px;
}

@media (max-width: 768px) {
    .footer-main {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 5%;
    }
    .team-member-container img {
        width: 180px;
    }
}